* {
    box-sizing: border-box;
}
@font-face {
  font-family: nightcap;
  src: url(../font/Nightcap/NightcapNF.otf);
  src: url(../font/Nightcap/NightcapNF.ttf);

}
@font-face {
  font-family: Semplicita;
  src: url(../font/Semplicita/Semplicita-Medium.otf);

}
@font-face {
  font-family: Semplicita-bold;
  src: url(../font/Semplicita/Semplicita-Bold.otf);

}

.body2 {
    background-color: #FC706D;
    margin: 0;
    padding: 0;
    font-family: 'Semplicita';


}

.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    /*        flex-direction: column;*/

}

.titreBlanc {
    margin: 0;
    padding: 0;
    font-family: 'rouge Script';
    color: white;
    font-size: 4rem;
    text-align: center;
    width: 100%;


}

.containerBut {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Semplicita';
    text-align: center;

}

/*bouton premiere page*/
.but {
    font-size: 2rem;
    text-decoration: none;
    background-color: white;
    color: #593431;
    border: solid;
    margin: 20px;
    padding: 5px;
    font-family: 'Semplicita-bold';
    margin-top: 15%;

}

.bas {
    margin:
        text-align: center;

}

.flexBox {
    width: 50%;
    margin: 2%;
    position: relative;
    overflow: hidden;
    border: solid 3px #DD4A4A;
    background-color: rgba(229, 202, 174, 0.3);
}

.titreJeu {
    color: white;
    position: absolute;
    text-align: center;
    /*    max-width: 40%;*/
    top: 42%;
    transform: translateY(-50%);
    right: 5%;
    left: 5%;
    background-color: rgba(103, 105, 107, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-family: 'Semplicita-bold';

}

.centre {
    display: flex;
    justify-content: center;
    /*    transform: scale(1.1);
    transition: 500ms;*/
}

.box {
    height: 40vh;
    margin: auto;
}

/*-------------------parti jeu---------------------------*/


#body3 {
    background-color: #FC706D;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.menuFemme {
    background-color: rgba(255, 225, 214, 0.5);
    position: fixed;
    width: 100%;
    margin-top: 0;
    z-index: 10;
    display: flex;
    /*    justify-content: space-around;*/
    justify-content: center;
    max-height: 10vh;


}

.photoFemme {
    margin: auto;
    position: relative;
    top: 0px;
    z-index: 10;
    max-width: 100%;
    height: 10vh;
   

}

#map {
    width: 100%;
    position: fixed;
}

.questionMark {
    position: absolute;
    z-index: 11;
    max-width: 40%;
    right: 0px;
    bottom: 0px;
}


/*
.interoN {
    position: fixed;
    background-color: black;
    border: solid 2px #791C1B;
    width: 80%;
    text-align: center;
    min-height: 20vh;
    color: white;
    right: 10%;
    left: 10%;
    top: 40vh;
    padding: 10px;
    z-index: 9;
    display: none;
}

.interoY {
    display: block !important;
}
*/
.imgIndiceLieu{
    padding: 10px;
    position:relative; 
    max-height: 40vh;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.markerB {
    background-image: url(../img/icon/maps-and-flags1.png);

}

.markerR {
    background-image: url(../img/icon/maps-flags.png);

}

.negatif {

    font-size: 1rem;
    z-index: 15;
    position: relative;
    /*
    transform: translateY(-30px);
    animation-delay: 2000ms;
*/
    /*    color:red;*/

}

.modal {
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    width: 80%;
    z-index: 20;
    position: absolute;
    min-height: 30vh;
    background-color: #444444;
    z-index: 1000;
    color: white;
    padding: 20px;
    font-family:'Semplicita';
}

.modalGrande {
  
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    bottom: 10%;
    width: 80%;
    z-index: 20;
    position: absolute;
    min-height: 30vh;
    background-color: #444444;
    z-index: 1000;
    color: white;
    padding: 20px;
    font-family:'Semplicita';
    overflow-y: auto;
}
.fixed{
    position: fixed;
    width: 80%;
}

.buto {
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 1rem;
    margin-top: 50px;
    text-decoration: none;
    background-color: white;
    color: #593431;
    border: solid;
    padding: 5px;
}

.score {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 8vh;
    bottom: 0;
    border-style: solid;
    border-width: 1.2px 0px 0px 0px;

}

.Tscore {
    margin: 16px;
    font-size: 1rem;
    font-family: 'Semplicita-Bold';
    

}

.close {
    display: block;
    margin-left: auto;
    padding: 0px 5px;
    left: 0px;
    width: 30px;
}

/*---------------------------------------------drag2-------------------------------------*/


.widget {
    border: solid;
    width: 80px;

}

#containerD {
    height: 500px;
    border: solid;

}

#target {
    margin: 30px;
    height: 100px;
    background-color: pink;

}

.cat2 {
    background-color: green;
    color: white;

}

.catX {
    background-color: red;
    color: white;
}


/*--------------------------checkbox------------------------------------------*/

.checked{
    height: 50px;
    background-image: url(../img/icon/check-square-solid.svg);
    
    
}
/*---------------------------------------drag php---------------------------------------------------*/
.body4 {

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;


}

.photoFemme2 {
    border: solid #F2D5CE;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    max-width: 100%;
}

.flexx {
    background-color: #FC706D;
    display: flex;
}

.left {
    height: 60vh;
    width: 50%;
    border-right: solid;
}

.right {
    height: 60vh;
    width: 50%;

}

.contain {
    display: flex;
    background-color: #E4F2F1;
    height: 60vh;
}

.cat1 {
    border: solid #DD9482;
    border-radius: 50%;
     !important margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
    max-width: 100%;
}

.cat2 {
    border: solid #DD9482;
     !important margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
    max-width: 100%;
}

.nbrErreur {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Semplicita-bold';
    width: 40%;
}
