* {
    box-sizing: border-box;
}

.body2 {
    background-color: #FC706D;
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    /*    flex-direction: column;*/

}

.titreBlanc {
    margin: 0;
    padding: 0;
    font-family: 'rouge Script';
    color: white;
    font-size: 4rem;
    text-align: center;
    width: 100%;


}

.flexBox {
    width: 50%;
    margin: 2%;
    position: relative;
    overflow: hidden;
    border: solid 3px #DD4A4A;
    background-color: rgba(229, 202, 174, 0.3);
}

.titreJeu {
    color: white;
    position: absolute;
    text-align: center;
    /*    max-width: 40%;*/
    top: 42%;
    transform: translateY(-50%);
    right: 5%;
    left: 5%;
    background-color: rgba(103, 105, 107, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-family: 'Paytone One';

}

.centre {
    display: flex;
    justify-content: center;
    /*    transform: scale(1.1);
    transition: 500ms;*/
}

.box {
    height: 40vh;
    margin: auto;
}

/*-------------------parti jeu---------------------------*/


#body3 {
    background-color: #FC706D;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.menuFemme {
    background-color: #FC706D;
    position: fixed;
    width: 100%;
    margin-top: 0;
    z-index: 10;
    border: solid black;
    display: flex;
    justify-content: space-around;
}

.photoFemme {
    position: relative;
    top: 0px;
    z-index: 10;
    max-width: 100%;
    /*    min-height: 22vh;*/
}

#map {
    width: 100%;
    position: fixed;
}

.questionMark {
    position: absolute;
    z-index: 11;
    max-width: 30%;
    right: 0px;
}


.interoN {
    position: fixed;
    background-color: black;
    border: solid 2px #791C1B;
    width: 80%;
    text-align: center;
    min-height: 20vh;
    color: white;
    right: 10%;
    left: 10%;
    top: 40vh;
    padding: 10px;
    z-index: 9;

    display: none;
}
.interoY {
    display: block !important;
}

.relative {
    position: relative;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.markerB {
  background-image: url(../img/icon/maps-and-flags1.png);
  
}
.markerR {
  background-image: url(../img/icon/maps-flags.png);
  
}

.marker3 {
  background-image: url(../img/femmes/HeleneBertaux.jpg);
}
/*---------------------------------------------drag2-------------------------------------*/


.widget{
    border: solid;
    width: 80px;
    
}
#containerD{
    height: 500px;
        border: solid;

}

#target{
    margin: 30px;
        height: 100px;
    background-color: pink;
    
}

.cat2{
    background-color: green;
            color: white;

}
.catX{
        background-color: red;
        color: white;
}
/*---------------------------------------drag php---------------------------------------------------*/
.body4{
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    
}
.photoFemme2 {
    border: solid #F2D5CE;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    max-width: 100%;
    /*    min-height: 22vh;*/
}
.flexx{
    background-color:#FC706D ;
    display: flex;
}

.left{
    height: 70vh;
    width: 50%;
    border-right: solid;
}
.right{
    height: 70vh;
    width: 50%;
    
}
.contain{
    display: flex;
    background-color:#E4F2F1 ;
    height: 70vh;
}
.cat1{
    border: solid green;!important
     margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
    max-width: 100%;
}
.cat2{
    border: solid red;!important
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
    max-width: 100%;
}
